{% extends 'tienda/base.html' %}

{% load static %}

{% block titulo %}
Alfajores
{% endblock %}

{% block contenido %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for producto in productos %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if producto.url_imagen %}
                    <img class="bd-placeholder-img card-img-top" src="{{producto.url_imagen.url}}" width="100%" height="auto">
                    {% endif %}
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>{{producto.nombre}}</h2>
                            <h2>$ {{producto.precio}}</h2>
                        </div>                        
                        <p class="card-text">{{producto.descripcion}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">{{producto.stock}} Unidades</small>
                            <button type="button" class="btn btn-primary add-to-cart" data-foto="{{producto.url_imagen.url}}" data-name="{{producto.nombre}}" data-price="{{producto.precio}}"><i class="bi bi-cart-plus" style="color:white"></i> Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}