<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pipo Alfajoreria {% block titulo %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/ico" href="{% static 'tienda/img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'tienda/css/alfajoreria.css'  %}">
    {% block css %}
    {% endblock %}
</head>
    <body class=""> 
    
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}" style="margin-left:2rem;">
                    <img src="{% static 'tienda/img/pipo-logo.png' %}" alt="logo" width="100%" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                    <ul class="navbar-nav nav nav-underline">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tienda Online</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'alfajores' %}">Alfajores</a></li>
                              <li><a class="dropdown-item" href="{% url 'oEspeciales' %}">Ocaciones especiales</a></li>
                              <li><a class="dropdown-item" href="{% url 'ofertas' %}">Ofertas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listar_productos' %}">Productos</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalCarrito">(<span class="total-count"></span>) <i class="bi bi-cart4" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" tooltip="Ver Perfil"><i class="bi bi-person-circle" style="font-size: 1.5rem;"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if user.is_authenticated %}      
                            <li><span class="dropdown-item">Bienvenido! {{user.username}}</span></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Cerrar Sesión</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="{% url 'registro' %}"><i class="bi bi-suit-heart"></i> Registrarse</a></li>
                            {% endif %}
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-xxl contenido-principal">
            {% block contenido %}
            {% endblock %}
        </div>

        <!-- CARRITO -->
        <div class="modal fade" id="modalCarrito" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Pipo Carrito de compras</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <table class="table table-image align-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-md-2"></th>
                                            <th scope="col" class="col-md-2">Producto</th>
                                            <th scope="col" class="col-md-1">Precio</th>
                                            <th scope="col" class="col-md-1">Cantidad</th>
                                            <th scope="col" class="col-md-2">Total</th>
                                            <th scope="col" class="col-md-1">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="show-cart">
                                        <tr>
                                            
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="limpiaCarrito btn btn-primary">Vaciar Carrito</button>
                            <h4>Total: $<span class="precio-total total-cart text-primary"></span></h4>
                          </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver atras</button>
                        <button type="button" class="btn btn-primary">Ir a pagar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="{% static 'tienda/js/pipo-carrito.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for m in messages%}
                <script>Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success",
                    "confirmButtonColor": "#EB95D6"
                })</script>
            {% endfor%}
        {% endif %}
        {% block js %}
        {% endblock %}
    </body>
</html>