*{
    color: #5A2821;
}

.bg-body-tertiary{
    background-color: #ffe6fc !important;
}

.dropdown-menu{
    background-color: #ffe6fc !important;
    --bs-dropdown-link-active-bg: #ff97ff;
}

.contenido-principal{
    margin-top:125px;
}

footer{
    background-color: #ffe6fc;
}


.btn-primary {
    background-color: #EB95D6;
    border-color:  #EB95D6 ;
}

.btn-primary:hover{
    background-color: #DE89C9;
    border-color:  #EB95D6 ;
}



body{
    background-image: url('../img/pipopattern.png');
    background-size: 7%;
    background-color: #ffe6fc;
}


.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}


.footer{
    padding-top: 20px;
}

.pipo-logo{
    margin-left: 2rem;
}

.btn-link:hover, .btn-link:active, .btn:first-child:active{
    color:#EB95D6;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active, .btn:focus-visible{
    background-color:#EB95D6;
}