.banner-visitanos {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.banner-visitanos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../IMG/banner-visitanos.jpeg') no-repeat center center/cover;
    filter: blur(5px);
    z-index: 1;
}

.banner-content h1 {
    font-size: 10rem;
    text-shadow: #270703;
}

h1{
    font-family: 'Chomsky', sans-serif;
}

.img-mapa{
    width: 45%;
    height: auto;
}